*.[oad]
*.swp
*~
*.bak
*.bmp
*.jpeg
*.jpg
*.png

model/*
!model/boost_weak100_pos23266_neg15624_icf780_obj80x160_cell12_12_4_1.xml
!model/boost_weak2000_pos23266_neg15624_icf9240_obj80x160_cell12_16_4_2.xml

module/training/
lib/

include/*
!include/ped.hpp

sample/training
sample/detection/*
!sample/detection/detect_image.cpp
!sample/detection/build.sh
